/* Webfont: RedSky-Regular */@font-face {
    font-family: 'RedSky';
    src: url('RedSky.eot'); /* IE9 Compat Modes */
    src: url('RedSky.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RedSky.woff') format('woff'), /* Modern Browsers */
         url('RedSky.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

